body {
    margin: 0;
    display: grid;
    grid-template-areas: "header" "body" "footer";
}

header {
    position: fixed;
    width: calc(100vw - 2rem);
    grid-area: header;
    padding: 1rem;
    height: 3rem;
    color: white;
    z-index: 10;
    transition: all 200ms;
}

header.scrolled {
    background-color: black;
}

body:has(header .header-mobile .hamburger-button input:checked) header a {
    color: black;
}

header a {
    color: white;
    text-decoration: none;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: all 200ms;
    padding: 0 0.5rem;
}

header a:hover:not(.logo a) {
    background-color: white;
    color: black;
}

header .logo a {
    font-weight: 800;
    font-size: large;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-desktop {
    display: none;
}

@media screen and (min-width: 600px) {
    header .header-mobile {
        display: none;
    }

    header .header-desktop {
        display: flex;
    }
}

header .logo {
    grid-area: logo;
}

header .header-mobile .hamburger-button {
    position: relative;
}

header .header-mobile .hamburger-button input {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    opacity: 0;
}

header .header-mobile .hamburger-button .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
}

header .header-mobile .hamburger-button input:checked~.icon {
    gap: 0;
}

header .header-mobile .hamburger-button .icon div {
    width: 1.5rem;
    border: solid white 1px;
    pointer-events: none;
    transition: all 200ms;
    position: relative;
}

header .header-mobile .hamburger-button input:checked+.icon div {
    border-color: black;
}

header .header-mobile .hamburger-button input:checked+.icon div:nth-child(odd) {
    position: absolute;
    width: 2rem;
}

header .header-mobile .hamburger-button input:checked+.icon div:nth-child(1) {
    transform: rotate(45deg);
}

header .header-mobile .hamburger-button input:checked+.icon div:nth-child(2) {
    opacity: 0;
}

header .header-mobile .hamburger-button input:checked+.icon div:nth-child(3) {
    transform: rotate(-45deg);
}

header .header-desktop nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.become-member-container a {
    border: solid 2px white;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 300ms;
}

.become-member-container a:hover {
    background-color: white;
    color: black;
}

.hamburger-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    left: -100vw;
    transition: all 200ms;
    background-color: white;
}

body:has(header .header-mobile .hamburger-button input:checked) .hamburger-menu {
    left: 0;
}

.hamburger-menu nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}