.hero-container {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/movie-theater-outdoors.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 10rem;
    box-sizing: border-box;
}

@media screen and (min-width: 800px) {
    .hero-container {
        padding-left: 10rem;
    }
}

@media screen and (min-width: 1300px) {
    .hero-container {
        background-position: 0 -15rem;
    }
}

.hero-text-container {
    max-width: 90%;
    box-sizing: border-box;
}

.hero-container h1.hero {
    margin: 0;
    color: black;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    display: inline;
    font-size: 2.5rem;
}

.hero-container .become-member-container {
    display: inline;
    margin-top: 2rem;
}

.hero-container .become-member-container a {
    font-family: "JetBrains Mono", serif;
    border-color: black;
    color: black;
    text-decoration: none;
}

.hero-container .become-member-container a:hover {
    border-color: black;
    background-color: black;
    color: white;
}

.hero-container .hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: white;
    padding: 2rem;
    width: 30rem;
    border-radius: 1rem;
}

.hero-container p {
    margin: 0.5rem 0 0 0;
    font-family: "JetBrains Mono", serif;
    color: #2f2f2f;
}

.meetings {
    background-color: #e5ff9c;
    padding: 2px;
    box-sizing: border-box;
    width: 100vw;
}

.meetings .meetings-container {
    background-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 4rem;
}

.meetings .meetings-container h2 {
    margin: 0;
    color: white;
    font-family: "Oswald", serif;
    font-size: 2rem;
}

.meeting-cards-container {
    display: grid;
    /* grid-template-columns: auto; */
    /* box-sizing: border-box; */
    /* gap: 1rem; */
}


.meeting-scroll-container {
    display: grid;
    grid-template-columns: auto;
    box-sizing: border-box;
    gap: 1rem;
}

.meeting-cards-container .meeting-card {
    aspect-ratio: 27 / 40 !important;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    height: 100%;
    border: solid 2px white;
}

.meeting-cards-container .meeting-card img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.meeting-cards-container .meeting-card p {
    position: absolute;
    margin: 0;
    top: 1rem;
    left: 1rem;
    font-family: "JetBrains Mono", serif;
    background-color: white;
    padding: 0.1rem 0.2rem;
}


@media screen and (min-width: 600px) {
    .meeting-scroll-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 800px) {
    .meetings {
        height: calc(100vh - 5rem);
    }

    .meetings-container {
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem 2rem 4rem !important;
        width: 100%;
    }

    .meeting-cards-container {
        /* flex-grow: 100; */
        overflow-x: scroll;
        height: 100%;
        width: 100%;
    }

    .meeting-card {
        box-sizing: border-box;
    }

    .meeting-scroll-container {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        margin-right: 4rem;
    }
}